<div class="input input_{{modificator}}" >
    <label class="input_container">
    {{#if error}}
        <div class="input_error"></div>
        <div class="input_error-text">{{type}} is wrong</div> 
    {{/if}}
    
    <input
        class="input_field input_field_{{type}} input_field_{{modificator}}"
        placeholder=""
        name={{type}}
        label={{label}}
    />
     {{#unless error}}
        <div class="input_label input_label_{{modificator}}">{{label}}</div>
    {{/unless}}
    </label>
</div>
